/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */

// Variables
@import "variables";

// Neat Settings -- uncomment if using Neat -- must be imported before Neat
@import "grid-settings";

// Extends
@import "extends/button";
@import "extends/clearfix";
@import "extends/errors";
@import "extends/flashes";
@import "extends/hide-text";

// Typography and Elements
@import "typography";
@import "forms";
@import "tables";
@import "lists";
@import "buttons";

$badge-font-size: 0.75em !default;

@mixin badge($color: $medium-gray) {
  background-color: $color;
  border-radius: $badge-font-size * 5;
  color: darken($color, 60%);
  display: inline-block;
  font-size: $badge-font-size;
  font-weight: 600;
  line-height: 1;
  padding: 0.4em 1.2em;
}
